<a href="https://colab.research.google.com/github/saudyusaf/data-science/blob/main/program12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/Customers.csv')
df

,CustomerID,Gender,Age,Annual_Income,Spending_Score,Profession,Work_Experience,Family Size,Spending_Category,Invoice_Number
0,1,Male,19,15000,39,Healthcare,1,4,Average,458984
1,2,Male,21,35000,81,Engineer,3,3,High,458994
2,3,Female,20,86000,6,Engineer,1,1,Low,458994
3,4,Female,23,59000,77,Lawyer,0,2,High,458997
4,5,Female,31,38000,40,Entertainment,2,6,Average,458999
...,...,...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7,Average,461768
1996,1997,Female,91,73158,32,Doctor,7,7,Average,461773
1997,1998,Male,87,90961,14,Healthcare,9,2,Low,461774
1998,1999,Male,77,182109,4,Executive,7,2,Low,461775
1999,2000,Male,90,110610,52,Entertainment,5,2,High,461775

In [ ]:
df.shape

(2000, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         2000 non-null   int64
 1   Gender             2000 non-null   object
 2   Age                2000 non-null   int64
 3   Annual_Income      2000 non-null   int64
 4   Spending_Score     2000 non-null   int64
 5   Profession         1965 non-null   object
 6   Work_Experience    2000 non-null   int64
 7   Family Size        2000 non-null   int64
 8   Spending_Category  2000 non-null   object
 9   Invoice_Number     2000 non-null   int64
dtypes: int64(7), object(3)
memory usage: 156.4+ KB